@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .clip-polygon {
      clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
    }
  }
  
  @layer base {
    :root {
      --background-color: #ffffff;
      --text-color: #000000;
    }

    body {
      background-color: var(--background-color);
      color: var(--text-color);
    }
  }